body {
  font-family: 'Orbit', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}
header {
  background-color: white;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid black;
}
h1 {
  font-family: 'Orbit', sans-serif;
}
main {
  padding: 20px;
}
.album {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
  width: calc(33.33% - 20px);
  vertical-align: top;
}
img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
.sort-buttons {
  margin-bottom: 20px;
}
button {
  padding: 10px;
  margin-right: 10px;
  font-family: 'Orbit', sans-serif;
}
p {
  margin: 0;
  font-family: 'Orbit', sans-serif;
}
